__pycache__/
*__pycache__
*.py[cod]
*$py.class
.python-version

.git/

lib/
lib64/

.vscode/*

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pastas para ignorar

Front-end/

# arquivos para ignorar

.config.py
config.py

# Python/rename-files/config.py
# Python/organize-files/config.py
# Python/srt-txt-converter/config.py